# =========================
# Compiled Java files
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Build folders
# =========================
/build/
/dist/
/out/
/target/

# =========================
# Temporary files
# =========================
*.tmp
*.swp
*.swo

# =========================
# IDE configurations
# =========================

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# IntelliJ
/.idea/
*.iml

# VSCode
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
/T3/exemples/ExemplesCollections/build/
/T3/exemples/ExemplesCollections/nbproject/private/
/T3/exemples/ExemplesExcepcions/nbproject/private/
/T3/exemples/ExemplesExcepcions/build/
